@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --standart-element-height: 50px;
    --pd-15: 15px;
    --pd-30: 30px;
    --background-color: #f6f7fb;
    --background-accent-color: #fff;
    --background-color-light: #eaeaea;
    --main-text-color: #707070;
    --primary-color: #4d85ff;
    --accent-color: #2e69ea;
    --additional-color: #dbe7ff;
    --approve-color: #58cd91;
    --reject-color: #ffbbbb;
    --toggle-color: #888888;
    --shadow-box-light: 0 0px 10px 0 rgb(0 0 0 / 10%);
    --shadow-box-medium: 0 0px 10px 0 rgb(0 0 0 / 20%);
    --shadow-box-hard: 0 0px 10px 0 rgb(0 0 0 / 30%);
    --scrollbar-thumb-color: #adadad;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

::-moz-selection {
    background-color: var(--primary-color);
    color: #fff;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body > div.root > div.App {
    -webkit-nbsp-mode: normal;
}

body {
    background-color: var(--background-color);
    -webkit-transition: var(--tran-05);
    transition: var(--tran-05);
}

    body.dark {
        --standart-element-height: 50px;
        --pd-15: 15px;
        --pd-30: 30px;
        --background-color: #18191a;
        --background-accent-color: #242526;
        --background-color-light: #3b3b3b;
        --main-text-color: #cccccc;
        --primary-color: #4d85ff;
        --accent-color: #2e69ea;
        --additional-color: #dbe7ff;
        --approve-color: #58cd91;
        --reject-color: #d25959;
        --toggle-color: #a2a2a2;
        --shadow-box-light: 0 0px 10px 0 rgb(0 0 0 / 10%);
        --shadow-box-medium: 0 0px 10px 0 rgb(0 0 0 / 20%);
        --shadow-box-hard: 0 0px 10px 0 rgb(0 0 0 / 30%);
        --scrollbar-thumb-color: #484848;
    }

body {
    position: relative;
}

    body form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 6px;
        -webkit-box-shadow: var(--shadow-box-light);
        box-shadow: var(--shadow-box-light);
        background: var(--background-accent-color);
        color: var(--main-text-color);
    }

        body form.login-form {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 70px 40px 20px 40px;
        }

        body form .logo img {
            display: block;
            width: 70px;
            height: 70px;
            margin: 0 auto;
        }

        body form > .user-data {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative;
            padding: 5px;
            margin: 30px auto;
        }

            body form > .user-data > label:not(.checkbox) {
                font-size: 16px;
            }

            body form > .user-data label.checkbox {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-top: 10px;
            }

                body form > .user-data label.checkbox > input {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

            body form > .user-data > input {
                padding: 15px 5px;
                background-color: transparent;
                color: var(--main-text-color);
                border-bottom: 2px solid var(--scrollbar-thumb-color);
                font-size: 18px;
            }

        body form button {
            padding: 10px 10px;
            border-radius: 100px;
            font-size: 18px;
            color: var(--main-text-color);
            background: var(--background-color);
            text-transform: uppercase;
            cursor: pointer;
            -webkit-transition: .3s;
            transition: .3s;
        }

            body form button:focus {
                outline: 1px solid var(--primary-color);
            }

            body form button:hover {
                outline: 3px solid var(--primary-color);
            }

        body form .bottom-info {
            margin-top: 70px;
            font-size: 14px;
            text-align: center;
        }

    body.dark nav.sidebar .menu-bar .mode .sun-moon i.sun {
        opacity: 1;
    }

    body.dark nav.sidebar .menu-bar .mode .sun-moon i.moon {
        opacity: 0;
    }

    body.dark nav.sidebar .menu-bar .mode .toggle-switch .switch::before {
        right: 5px;
        left: unset;
    }

    body nav.sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        background: var(--background-accent-color);
        -webkit-transition: var(--tran-05);
        transition: var(--tran-05);
        z-index: 100;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        body nav.sidebar.close {
            width: 88px;
        }

            body nav.sidebar.close .text, body nav.sidebar.close header .title {
                visibility: hidden;
            }

            body nav.sidebar.close .toggle {
                -webkit-transform: translateY(-50%) rotate(0deg);
                transform: translateY(-50%) rotate(0deg);
            }

            body nav.sidebar.close ~ .page {
                left: 88px;
                height: 100vh;
                width: calc(100% - 88px);
            }

        body nav.sidebar .text, body nav.sidebar .icon {
            color: var(--main-text-color);
            -webkit-transition: var(--tran-03);
            transition: var(--tran-03);
        }

        body nav.sidebar .text {
            font-size: 17px;
            font-weight: 500;
            white-space: nowrap;
        }

        body nav.sidebar .icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            min-width: 60px;
            height: 100%;
            border-radius: 6px;
            font-size: 20px;
        }

        body nav.sidebar header .image, body nav.sidebar .icon {
            min-width: 60px;
            border-radius: 6px;
        }

        body nav.sidebar header {
            position: relative;
        }

            body nav.sidebar header .logo-container {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 50px;
            }

                body nav.sidebar header .logo-container .logo {
                    width: 50px;
                    height: 100%;
                }

                body nav.sidebar header .logo-container .title {
                    color: var(--main-text-color);
                    padding-left: 20px;
                    font-size: 18px;
                    font-weight: 600;
                    -webkit-transition: .2s;
                    transition: .2s;
                }

            body nav.sidebar header .toggle {
                position: absolute;
                top: 50%;
                right: -25px;
                -webkit-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg);
                height: 25px;
                width: 25px;
                background-color: var(--primary-color);
                color: var(--background-accent-color);
                border-radius: 50%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                font-size: 22px;
                cursor: pointer;
                -webkit-transition: var(--tran-05);
                transition: var(--tran-05);
            }

        body nav.sidebar .menu-bar {
            height: calc(100% - 55px);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            overflow-y: scroll;
        }

            body nav.sidebar .menu-bar::-webkit-scrollbar {
                display: none;
            }

            body nav.sidebar .menu-bar::-moz-scrollbar {
                display: none;
            }

            body nav.sidebar .menu-bar .mode {
                border-radius: 6px;
                background-color: var(--background-color-light);
                position: relative;
                -webkit-transition: var(--tran-05);
                transition: var(--tran-05);
            }

                body nav.sidebar .menu-bar .mode .sun-moon {
                    height: 50px;
                    width: 60px;
                }

                    body nav.sidebar .menu-bar .mode .sun-moon i {
                        position: absolute;
                    }

                        body nav.sidebar .menu-bar .mode .sun-moon i.sun {
                            opacity: 0;
                        }

            body nav.sidebar .menu-bar .bottom-content .toggle-switch {
                position: absolute;
                right: 0;
                height: 100%;
                min-width: 60px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                border-radius: 6px;
                cursor: pointer;
            }

                body nav.sidebar .menu-bar .bottom-content .toggle-switch .switch {
                    position: relative;
                    height: 22px;
                    width: 40px;
                    border-radius: 25px;
                    background-color: var(--toggle-color);
                    -webkit-transition: var(--tran-05);
                    transition: var(--tran-05);
                }

                    body nav.sidebar .menu-bar .bottom-content .toggle-switch .switch::before {
                        content: '';
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        top: 50%;
                        left: 5px;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        background-color: var(--background-accent-color);
                        -webkit-transition: var(--tran-04);
                        transition: var(--tran-04);
                    }

        body nav.sidebar .menu {
            margin-top: 40px;
        }

        body nav.sidebar li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 50px;
            margin-top: 10px;
            list-style: none;
        }

            body nav.sidebar li.search-box {
                border-radius: 6px;
                background-color: var(--background-color-light);
                cursor: pointer;
                -webkit-transition: var(--tran-05);
                transition: var(--tran-05);
            }

                body nav.sidebar li.search-box input {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: var(--background-color-light);
                    color: var(--main-text-color);
                    border-radius: 6px;
                    font-size: 17px;
                    font-weight: 500;
                    -webkit-transition: var(--tran-05);
                    transition: var(--tran-05);
                }

            body nav.sidebar li a {
                list-style: none;
                height: 100%;
                background-color: transparent;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 100%;
                width: 100%;
                border-radius: 6px;
                text-decoration: none;
                -webkit-transition: var(--tran-03);
                transition: var(--tran-03);
                cursor: pointer;
            }

                body nav.sidebar li a:hover {
                    background-color: var(--primary-color);
                }

                    body nav.sidebar li a:hover .text, body nav.sidebar li a:hover .icon {
                        color: var(--background-accent-color);
                    }

.view-page > .view-page-section:nth-child(n+2) {
    margin-top: 45px;
}

.view-page-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin-top: 35px;
    margin-left: 15px;
    -webkit-transition: var(--tran-05);
    transition: var(--tran-05);
}

    .view-page-section > .view-page-section {
        margin-top: 45px;
    }

    .view-page-section .view-page-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: -35px;
        left: 0;
        padding: 5px 15px;
        background-color: var(--accent-color);
        color: #fff;
        border-radius: 6px;
        -webkit-box-shadow: var(--shadow-box-light);
        box-shadow: var(--shadow-box-light);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .view-page-section .view-page-title .icon {
            font-size: 22px;
            margin-right: 8px;
            -webkit-transition: var(--tran-03);
            transition: var(--tran-03);
        }

    .view-page-section.collapsed {
        height: 0;
    }

        .view-page-section.collapsed > *:not(.view-page-title) {
            display: none;
            visibility: hidden;
            height: 0;
        }

        .view-page-section.collapsed .view-page-title .icon {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

    .view-page-section::after {
        content: ' ';
        height: calc(100% - 30px);
        width: 1px;
        position: absolute;
        top: 15px;
        left: 0;
        background-color: var(--accent-color);
    }

    .view-page-section .service {
        -webkit-box-flex: unset !important;
        -ms-flex: unset !important;
        flex: unset !important;
    }

section.page {
    position: absolute;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    -webkit-transition: var(--tran-05);
    transition: var(--tran-05);
    overflow: hidden;
}

    section.page .category-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: auto;
        padding: 0 30px;
        color: var(--main-text-color);
        font-size: 3em;
        font-weight: 600;
    }

    section.page .category-content::-webkit-scrollbar {
        width: 7px;
    }

    section.page .category-content::-webkit-scrollbar-button {
        display: none;
    }

    section.page .category-content::-webkit-scrollbar-track {
        background-color: transparent;
    }

    section.page .category-content::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
    }

    section.page > .category-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        overflow-x: hidden;
    }

        section.page > .category-content .controls {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            white-space: nowrap;
            height: 40px;
            width: 100%;
            padding: 0 30px;
        }

            section.page > .category-content .controls > div {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                section.page > .category-content .controls > div .filter {
                    color: var(--main-text-color);
                    background-color: var(--background-accent-color);
                    -webkit-box-shadow: var(--shadow-box-light);
                    box-shadow: var(--shadow-box-light);
                    display: block;
                    height: 40px;
                    padding: 5px;
                    border-radius: 6px;
                }

            section.page > .category-content .controls > *:nth-child(n+2)::before {
                content: '/';
                padding: 0 5px;
                color: var(--main-text-color);
            }

        section.page > .category-content .view-page {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 0 15px;
            margin-top: 15px;
        }

            section.page > .category-content .view-page .service {
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                margin: 15px;
                padding: 15px;
                border-radius: 6px;
                background-color: var(--background-accent-color);
                color: var(--main-text-color);
                text-decoration: none;
                -webkit-box-shadow: var(--shadow-box-light);
                box-shadow: var(--shadow-box-light);
                -webkit-transition: var(--tran-02);
                transition: var(--tran-02);
            }

                section.page > .category-content .view-page .service > span {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }

                section.page > .category-content .view-page .service .title {
                    font-size: 24px;
                }

                section.page > .category-content .view-page .service:hover {
                    -webkit-box-shadow: var(--shadow-box-hard);
                    box-shadow: var(--shadow-box-hard);
                }

                section.page > .category-content .view-page .service:active {
                    outline: 5px solid var(--primary-color);
                }

    section.page .category-content.admin .view-page {
        margin-top: 0;
    }

        section.page .category-content.admin .view-page .admin-form {
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: start;
            margin: 15px;
            padding: 15px;
        }

            section.page .category-content.admin .view-page .admin-form .form-title {
                margin-bottom: 15px;
            }

            section.page .category-content.admin .view-page .admin-form input {
                padding: 15px 5px;
                background-color: transparent;
                color: var(--main-text-color);
                border-bottom: 2px solid var(--scrollbar-thumb-color);
                font-size: 18px;
                font-size: 16px;
                padding: 10px 5px;
            }

            section.page .category-content.admin .view-page .admin-form select {
                color: var(--main-text-color);
                background-color: var(--background-accent-color);
                -webkit-box-shadow: var(--shadow-box-light);
                box-shadow: var(--shadow-box-light);
                display: block;
                height: 40px;
                padding: 5px;
                border-radius: 6px;
            }

            section.page .category-content.admin .view-page .admin-form label.checkbox {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-top: 10px;
            }

                section.page .category-content.admin .view-page .admin-form label.checkbox > input {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

            section.page .category-content.admin .view-page .admin-form > .last {
                margin-bottom: 15px;
            }

            section.page .category-content.admin .view-page .admin-form button {
                margin-top: auto;
            }

    section.page .category-content.audience {
        padding: 0 15px;
        display: block;
    }

        section.page .category-content.audience > * {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            color: var(--main-text-color);
            background-color: var(--background-accent-color);
            -webkit-box-shadow: var(--shadow-box-light);
            box-shadow: var(--shadow-box-light);
        }

            section.page .category-content.audience > * > *:first-child {
                margin-bottom: 5px;
                padding-top: 10px;
                font-size: 18px;
                border-bottom: 2px solid var(--background-color-light);
            }

        section.page .category-content.audience .booking {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: calc(100% - 30px - 205px - 30px);
            min-width: 270px;
            padding: 15px;
            margin: 15px;
            border-radius: 6px;
        }

            section.page .category-content.audience .booking .filter {
                color: var(--main-text-color);
                background-color: var(--background-accent-color);
                -webkit-box-shadow: var(--shadow-box-light);
                box-shadow: var(--shadow-box-light);
                display: block;
                height: 40px;
                padding: 5px;
                border-radius: 6px;
                max-width: 175px;
                height: unset;
                display: unset;
                font-size: 16px;
                background-color: var(--background-color-light);
                -webkit-box-shadow: unset;
                box-shadow: unset;
            }

            section.page .category-content.audience .booking .booking-configurator {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                margin-top: 5px;
            }

                section.page .category-content.audience .booking .booking-configurator .booked {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    font-size: 14px;
                }

                    section.page .category-content.audience .booking .booking-configurator .booked > span {
                        margin: 5px;
                        padding: 5px;
                        border-radius: 6px;
                        word-wrap: normal;
                        background-color: var(--reject-color);
                    }

                section.page .category-content.audience .booking .booking-configurator form {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }

                    section.page .category-content.audience .booking .booking-configurator form > div {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        margin: 10px 0;
                    }

                    section.page .category-content.audience .booking .booking-configurator form .filter {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        margin: 0 15px;
                    }

                    section.page .category-content.audience .booking .booking-configurator form button {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        height: 40px;
                        width: -webkit-max-content;
                        width: -moz-max-content;
                        width: max-content;
                        font-size: 16px;
                        padding: 7px 10px;
                    }

        section.page .category-content.audience .audience-detail {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 200px;
            margin: 15px;
            padding: 15px;
            border-radius: 6px;
        }

            section.page .category-content.audience .audience-detail .attribute {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                padding: 5px 0;
            }

                section.page .category-content.audience .audience-detail .attribute::before {
                    content: attr(data-attr-title);
                }

body {
    min-height: 100vh;
}
/*# sourceMappingURL=main.css.map */
