@using BookingAudience.ViewModels;
@model AudienceViewModel

<form class="admin-form" asp-controller="Corpus" asp-action="AddAudience"> <!-- PARTIAL -->
    <span class="form-title">Аудитория</span>
    <select class="filter" name="typeOptions" asp-items="Model.TypeOptions" asp-for="Type">
        <option value="" disabled selected hidden>Тип аудитории</option>
    </select>
    <select class="filter" name="buildingId"  asp-items="Model.BuildingOptions" asp-for="BuildingId">
        <option value="" disabled selected hidden>Здание</option>
    </select>
    <input type="text" value="" placeholder="Этаж" asp-for="Floor"/>
    <input type="text" value="" placeholder="Номер или название" asp-for="Title"/>
    <input type="text" value="" placeholder="Описание" asp-for="Description"/>
    <label for="block" class="checkbox">
        <input type="checkbox" id="block" value="" asp-for="IsBlockedByAdmin"/>
        Заблокировано для аренды
    </label>
    <label for="projector" class="checkbox">
        <input type="checkbox" id="projector" value="" asp-for="HasProjector"/>
        Проектор
    </label>
    <label for="audio" class="checkbox">
        <input type="checkbox" id="audio" value="" asp-for="HasAudio"/>
        Аудио
    </label>
    <input type="text" value="" placeholder="Число столов" asp-for="TablesCount"/>
    <input type="text" value="" placeholder="Сидячие места" asp-for="SeatPlaces"/>
    <input class="last" type="text" value="" placeholder="Число компьютеров" asp-for="WorkComputersCount"/>
    <button type="submit">Создать аудиторию</button>
</form>