<div class="category-content admin">
    <div class="category-title">@ViewData["Title"]</div>
    <div class="view-page">

        @await Html.PartialAsync("Adminb");
        @await Html.PartialAsync("Admina");
        @await Html.PartialAsync("Adminu");

    </div>
</div>