@using BookingAudience.ViewModels;

@{
    ViewData["Title"] = "Administrate";
}

<div class="category-content admin">
    <div class="category-title">@ViewData["Title"]</div>
    <div class="view-page">

        @await Html.PartialAsync("AdminBuilding", new BuildingViewModel());
        @await Html.PartialAsync("AdminAudience", new AudienceViewModel());
        @await Html.PartialAsync("AdminUser", new RegisterViewModel());

    </div>
</div>