@{

}

<div class="category-content admin">
    <div class="category-title">Administrate</div>
    <div class="view-page">

        <form class="admin-form">
            <span class="form-title">Building</span>
            <input type="text" value="" placeholder="Title"/>
            <input type="text" value="" placeholder="Address" />
            <input type="text" value="" placeholder="CodeLetter" />
            <button type="submit">Create Building</button>
        </form>

        <form class="admin-form">
            <span class="form-title">Building</span>
            <select class="filter" name="building">
                <option value="" disabled selected hidden>Building</option>
                <option value="l">Corp. L</option>
                <option value="a">Corp. A</option>
                <option value="e">Corp. E</option>
                <option value="c">Corp. C</option>
            </select>
            <input type="text" value="" placeholder="Floor" />
            <input type="text" value="" placeholder="Number" />
            <!-- TODO: доп аргументы -->
            <button type="submit">Create Audience</button>
        </form>

        <form class="admin-form">
            <span class="form-title">User</span>
            <input type="text" value="" placeholder="Login" />
            <input type="text" value="" placeholder="Password" />
            <button type="submit">Create User</button>
        </form>
    </div>
</div>